---
const { url, title, date, image, alt } = Astro.props;
---

<a href={url}>
  <div class="concert-card">
      <img src={image} decoding="async" loading="lazy" alt={alt} class="concert-image" />
      <div class="concert-info">
        <h3 class="concert-title">{title}</h3>
        <p class="concert-date">{date}</p>
      </div>
  </div>
</a>

<style>
  a {
    text-decoration: none;
    color: inherit;
  }

  .concert-card {
    background-color: #333;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }

  .concert-card:hover {
    transform: translateY(-10px);
  }

  .concert-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .concert-info {
    padding: 1.5rem;
  }

  .concert-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--accent-gold);
  }

  .concert-date {
    font-size: 1.2rem;
    color: #ddd;
  }

  @media (max-width: 768px) {
    .concert-image {
      height: 150px;
    }

    .concert-title {
      font-size: 1.3rem;
    }

    .concert-date {
      font-size: 1rem;
    }
  }
</style>
